<h1>All The Cats</h1>

<ul>
  <% @cats.each do |cat| %>
    <li><%= link_to "Rent #{cat.name}!", cat_url(cat) %></li>
  <% end %>
</ul>

<br>

<%= link_to "Add a Cat!", new_cat_url %>
<br>
<%= link_to "Rent a Cat!", new_cat_rental_request_url %>
